body.show a, body.show .transition, body.show :before, body.show :after, body.show img {
  transition: All 0.5s ease;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex, .index-flash .dots, .g-head .nav .btn-list dl.share, .g-head .nav .btn-list .search, .p-layer {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
}

.flexColumn {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

.itemsCenter, .p-layer {
  align-items: center;
  -webkit-align-items: center;
}

.justifyCenter, .index-flash .dots, .g-head .nav .btn-list dl.share, .p-layer {
  justify-content: center;
  -webkit-justify-content: center;
}

.flexAround {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.flexBetween {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flexWrap {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.bsBox {
  box-sizing: content-box;
}

.p-ico, .g-head .nav .btn-list .search .submit i {
  font-family: "icon";
  font-size: 0.2rem;
}

.p-layer {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}
.p-layer.show {
  opacity: 1;
  visibility: visible;
}

.pageTips {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000 url("../image/bg.png");
}
.pageTips .container {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 630px;
  margin-left: -315px;
  margin-top: -160px;
}
.pageTips .container a.close {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  left: auto;
  right: -15px;
  top: 40px;
  bottom: auto;
  background: url("../image/close.png") center no-repeat;
}
.pageTips .container .img {
  text-align: center;
}
.pageTips .container .msg {
  font-size: 18px;
  line-height: 36px;
  padding-top: 30px;
}
.pageTips .container a {
  color: #fff;
  text-decoration: underline;
}

/*-------------------------*/
html {
  font-size: 50px;
}

body {
  font-size: 0.24rem;
}

.wal, .wal2 {
  max-width: 800px;
  margin: 0 0.45rem;
}

.g-headD {
  height: 2.74rem;
}

.g-head:before {
  top: 0.97rem;
}
.g-head .wal {
  min-height: 2.74rem;
}
.g-head a.logo {
  width: 3.7rem;
  height: 0.75rem;
  top: 1.46rem;
}
.g-head .link {
  line-height: 0.97rem;
  font-size: 0.26rem;
}
.g-head .btns {
  display: none;
}
.g-head a.navA {
  width: 0.8rem;
  height: 0.8rem;
  top: 1.42rem;
}
.g-head .nav {
  top: 0;
  right: auto;
  left: -0.45rem;
  z-index: 50;
  width: 5.87rem;
  padding: 0.22rem 0;
}
.g-head .nav:after {
  top: 1.7rem;
  right: -0.1rem;
  width: 0.2rem;
  height: 0.2rem;
}
.g-head .nav .logo {
  background: url("../image/logo377.png") center no-repeat;
  background-size: 3.77rem;
  height: 1.8rem;
}
.g-head .nav .list a {
  font-size: 0.32rem;
  line-height: 0.88rem;
  padding-left: 0.75rem;
}
.g-head .nav .list a:before {
  left: 0.65rem;
}
.g-head .nav .list a:hover:after, .g-head .nav .list a.on:after {
  width: 0.35rem;
}
.g-head .nav .list .list2 {
  display: none;
  padding: 0.15rem 0 0.15rem 0.75rem;
}
.g-head .nav .list .list2 a {
  font-size: 0.28rem;
  line-height: 0.7rem;
}
.g-head .nav .list .list2 a:before {
  display: none;
}
.g-head .nav .list li.on .list2 {
  display: block;
}
.g-head .nav .btn-list {
  display: block;
  padding: 0.45rem 0.6rem 0.35rem 0.7rem;
}
.g-head .nav .btn-list .search {
  height: 0.7rem;
  background: #fff;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.g-head .nav .btn-list .search .input {
  width: 100%;
}
.g-head .nav .btn-list .search .input input {
  width: 100%;
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.24rem;
  padding: 0 0.25rem;
}
.g-head .nav .btn-list .search .submit {
  flex-shrink: 0;
  width: 0.9rem;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  position: relative;
}
.g-head .nav .btn-list .search .submit input {
  position: absolute;
  z-index: 1;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.g-head .nav .btn-list .search .submit i {
  font-size: 0.36rem;
  color: #72488D;
  font-style: normal;
}
.g-head .nav .btn-list dl.share {
  padding-top: 0.45rem;
}
.g-head .nav .btn-list dl.share dd {
  padding: 0 0.2rem;
}
.g-head .nav .btn-list dl.share a {
  display: block;
  width: 0.72rem;
  height: 0.72rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.45);
  padding: 0.14rem;
}

body.navShow .g-head:after {
  content: "";
  display: block;
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.37);
}
body.navShow .g-head .nav {
  right: auto;
}

.g-foot {
  /*
    .img-list{position: relative; top: 0; width: 6.5rem; overflow: hidden; margin: 0 auto;
      img{width: 100%; height: 3rem}
    }
  */
}
.g-foot .wal:before {
  left: -0.45rem;
  height: 2.95rem;
}
.g-foot .wal:after {
  height: 3.26rem;
}
.g-foot .logo {
  width: 4.34rem;
  position: static;
  margin: 0 auto;
  padding: 0.5rem 0 0.35rem 0;
}
.g-foot .img {
  width: 6.9rem;
  position: relative;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  margin-top: 1rem;
  height: 4.27rem;
}
.g-foot .img li {
  width: 2.2rem;
}
.g-foot .img li.li_01 {
  top: 0.45rem;
}
.g-foot .img li.li_02 {
  left: 1.2rem;
  top: 1.27rem;
}
.g-foot .img li.li_03 {
  left: 3.26rem;
  top: 0.83rem;
  z-index: 2;
}
.g-foot .img li.li_04 {
  width: 1.4rem;
  right: 0.4rem;
}
.g-foot .img-list {
  position: relative;
  right: 0;
  top: 0.25rem;
  width: 1.25rem;
  margin: 0 auto;
  height: 3rem;
}
.g-foot .container {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 3.26rem;
  text-align: center;
}
.g-foot .container .link {
  font-size: 0.22rem;
  padding: 0.55rem 0 0.45rem 0;
}
.g-foot .container .content {
  font-size: 0.24rem;
  line-height: 0.36rem;
  width: 5.1rem;
  margin: 0 auto;
}

/*index*/
.index-flash .bg {
  left: 0.45rem;
  height: 5.24rem;
}
.index-flash .bg:before {
  left: 0;
}
.index-flash .wal2 {
  padding-top: 0.3rem;
  margin: 0 auto;
}
.index-flash .list {
  width: 100%;
}
.index-flash .list li .layer {
  position: static;
  padding: 0.37rem 0.45rem;
}
.index-flash .list li .layer .tag a {
  line-height: 0.52rem;
  padding: 0 0.2rem;
  font-size: 0.24rem;
}
.index-flash .list li .layer h3 a {
  font-size: 0.36rem;
  line-height: 0.56rem;
  padding: 0.3rem 0;
  color: #000;
}
.index-flash .list li .layer p a {
  font-size: 0.28rem;
  line-height: 0.44rem;
  color: rgba(0, 0, 0, 0.67);
}
.index-flash .dots {
  padding: 0.15rem 0;
}
.index-flash .dots span {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #C3C3C3;
  margin: 0 0.1rem;
  width: 0.15rem;
  height: 0.15rem;
}
.index-flash .dots span.swiper-pagination-bullet-active {
  background: #791CB5;
}
.index-flash .side {
  display: none;
}

.index-recommend .title {
  padding: 0.68rem 0 0.5rem 0;
}
.index-recommend .title h2 {
  font-size: 0.52rem;
  padding-right: 0.45rem;
  margin-right: 0.3rem;
}
.index-recommend .title a.more {
  font-size: 0.24rem;
}
.index-recommend .arrow {
  display: none;
}
.index-recommend .list {
  width: 14.5rem;
}
.index-recommend .list dd {
  padding-right: 0.41rem;
  width: 100%;
}
.index-recommend .list dd a {
  min-height: 1rem;
  padding-bottom: 1.75rem;
}
.index-recommend .list dd a:before {
  bottom: 1.15rem;
  width: 0.78rem;
}
.index-recommend .list dd a .name {
  font-size: 0.34rem;
  line-height: 0.52rem;
  padding: 0.4rem 0;
}

.index-news:before {
  display: none;
}
.index-news .wal {
  min-height: 1rem;
  padding: 0 0 0.9rem 0;
  margin: 0 auto;
}
.index-news .nav {
  width: 100%;
  border: none;
  border-top: #791CB5 solid 0.1rem;
  border-bottom: #E9E4ED solid 1px;
  overflow: hidden;
}
.index-news .nav li a {
  line-height: 1.23rem;
  font-size: 0.3rem;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.index-news .nav li a:before, .index-news .nav li a:after {
  display: none;
}
.index-news .time {
  font-size: 0.24rem;
}
.index-news .list {
  width: 100%;
  padding: 0.48rem 0.48rem 0;
}
.index-news .list li {
  padding: 0 0 0.8rem 0;
}
.index-news .list li .img {
  width: 100%;
  position: relative;
}
.index-news .list li .img a {
  width: auto;
}
.index-news .list li .img a img {
  height: auto;
}
.index-news .list li .time {
  left: -0.3rem;
  top: 2.4rem;
  width: 1.2rem;
  height: 1.2rem;
}
.index-news .list li .tag {
  font-size: 0.24rem;
  padding-top: 0.4rem;
}
.index-news .list li .name {
  font-size: 0.36rem;
  line-height: 0.52rem;
  padding: 0.2rem 0 0.3rem 0;
}
.index-news .list li p {
  font-size: 0.26rem;
  line-height: 0.48rem;
}
.index-news .list .more {
  padding: 0.3rem 0 1rem 0;
}
.index-news .list .more a {
  font-size: 0.24rem;
}
.index-news .list2 {
  width: 100%;
  padding: 0.35rem 0 0.7rem 0.45rem;
  position: relative;
  order: -1;
}
.index-news .list2:before {
  content: "";
  display: block;
  position: absolute;
  left: 1.04rem;
  top: 0;
  right: 0;
  height: 3rem;
  background: #F2F3F9;
}
.index-news .list2 .tab-btn li a {
  font-size: 0.4rem;
  height: 1.44rem;
  line-height: 1.32rem;
  padding-top: 0.12rem;
}
.index-news .list2 .tab-btn li a:before {
  top: 0.81rem;
}
.index-news .list2 .tab-box {
  position: relative;
  padding: 0.2rem 0;
}
.index-news .list2 .tab-box li {
  height: 2.35rem;
}
.index-news .list2 .tab-box li:before {
  left: 1.79rem;
}
.index-news .list2 .tab-box li .time {
  width: 1.7rem;
}
.index-news .list2 .tab-box li .name {
  font-size: 0.36rem;
  line-height: 0.52rem;
  width: 100%;
}
.index-news .list2 .more {
  padding: 0.4rem 0.45rem;
}
.index-news .list2 .more a {
  font-size: 0.24rem;
}

.index-imgs li {
  width: 100%;
  padding-bottom: 0.1rem;
}
.index-imgs .box div.name .tag a {
  line-height: 0.52rem;
  padding: 0 0.2rem;
  font-size: 0.24rem;
}
.index-imgs .box div.name a.name {
  font-size: 0.24rem;
  line-height: 0.36rem;
}
.index-imgs .box .btn {
  width: 1rem;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}

.index-links:before {
  display: none;
}
.index-links .list {
  width: 100%;
  padding-bottom: 0;
}
.index-links .list .title {
  padding: 1.2rem 0 0.34rem 0;
  line-height: 0.44rem;
}
.index-links .list .title h2 {
  font-size: 0.44rem;
}
.index-links .list .title a.more {
  font-size: 0.24rem;
}
.index-links .list li {
  font-size: 0.24rem;
  padding: 0.3rem 0;
}
.index-links .list li .name a {
  font-size: 0.32rem;
  line-height: 0.48rem;
}

@media screen and (max-width: 550px) {
  .wal, .wal2 {
    margin: 0 0.45rem;
  }
}
/*美院结束 */
